@import 'tailwindcss';

/* Theme Variables */
:root {
  --bg-color: #F8F8F8;
  --text-color: #1F1F1F;
}

html.dark {
  --bg-color: #1F1F1F;
  --text-color: #F8F8F8;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
